#header{
    width: 100%;
    padding-left: calc(25% - 3px);
    position: relative;
    top: 0px;
}
#header-img{
    margin-bottom: -10px;
    padding: 0px;
    width: calc(50% + 6px);
}
.container {
    width: 50%;
    margin: auto;
    padding: 2px;
    background-color: #ffffff;
	min-height: 100vh;
}
.post{
    border-top-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin: auto;
    padding-bottom: 10px;
    width: 95%;
}
body {
    background-color: #dbdbdb;
}